.resources__link {
  display: block;
  /*Добавляем свойство block, строчные элементы ссылок ведут себя как блоки*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Добавляем flex-свойства содержиому контейнера и центрируем его содержимое по горизонтали и вертикали*/
  flex-grow: 1;
  /* Разрешаем контейнерам подрости и занять всю ширину родительского блока */
}
