.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* Раздвигаем содержимое так, чтобы крайние блоки прижались к краям контейнера и находились на равном расстоянии друг от друга */

}
